/* styles.css */

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

@media (max-width: 600px) {
    img {
        max-width: 480px;
    }
}

@media (max-width: 900px) {
    img {
        max-width: 800px;
    }
}